

header{
  background-color: #c4c4c4;
}
header nav li{
  display: inline;
}
.acmeImage{
  max-width: 300px;
  max-height: 300px;
}
ul{
  list-style-type: none:
  margin: 10px;
  padding: 0;
  float: right;

}

a{
text-decoration: none;

}

.products{
  font-size: 18px;
  font-family: Lucida Grande;
  color: white;
  display: inline;



}
.signup{
  font-size: 18px;
  font-family: Lucida Grande;
color: white;
  list-style-type: none;
border-radius: 10px;
border: 1px solid;
border-color: blue;
background-color: #2A4CB2;
display: inline;
padding: 10px;

}


main{
  border-style: outset;
  border-radius: 10px;
background-color: white;
}

.details{
  font-size: 15px;
  font-family: Lucida Grande;
  color: blue;
  border-radius: 4px;
  background-color: white;
  border-style:solid;
  border-color: blue;

}

.cart{
  font-size: 15px;
  font-family: Lucida Grande;
  color: white;
  border-radius: 4px;
  background-color: blue;
  border-style:solid;
  border-color: blue;

}

.volatile{
  font-size: 15px;
  width: 300px;
}
